{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- <div class="row">
    <div class="col-md-6 mb-4">
        <div class="card custom-card">
            <div class="card-header">
                <h4>Solo caja de Herrajes</h4>
            </div>
            <div class="card-body">
                <img src="https://i.ibb.co/bgtrN9dh/imagen-solo-caja.png" class="img-fluid mb-3">    ../static/img/kit_caja_herrajes.jpg -->
                <!--<a href="#" class="btn btn-primary">SOLICITAR</a>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="card custom-card">
            <div class="card-header">
                <h4>Kit para porton completo</h4>
            </div>
            <div class="card-body">
                <img src="https://i.ibb.co/BKfgyhPD/imagen-porton-completo.png" class="img-fluid mb-3"> ../static/img/kit_caja_herrajes_completo.jpg-->
                <!--<a href="/generar" class="btn btn-primary">SOLICITAR</a>
            </div>
        </div>
    </div>
</div> -->



<!-- LOGO SUPERIOR -->
<div class="text-center mb-4">
    <img src="../static/img/Logo_calculadora_herrajes.png"
         class="img-fluid"
         style="max-height: 100px;">
</div>

<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card custom-card">
            <div class="card-header">
                <h4>Solo caja de Herrajes</h4>
            </div>
            <div class="card-body">
                <img src="https://i.ibb.co/sdWPxSTt/imagen-solo-caja.png" class="img-fluid mb-3">    <!-- https://i.ibb.co/bgtrN9dh/imagen-solo-caja.png -->
                <a href="#" class="btn btn-primary">SOLICITAR</a>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="card custom-card">
            <div class="card-header">
                <h4>Kit para porton completo</h4>
            </div>
            <div class="card-body">
                <img src="https://i.ibb.co/JRX0j1mk/imagen-porton-completo.png" class="img-fluid mb-3">  <!--https://i.ibb.co/BKfgyhPD/imagen-porton-completo.png-->
                <a href="/generar" class="btn btn-primary">SOLICITAR</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
